<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody id="blogs-table">
    <%= render partial: 'blogs' %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
