<p id="notice"><%= notice %></p>
<%= link_to "Create New Portfolio Item", new_portfolio_path %>
<h1>Portfolio Items</h1>
<hr>
<% if @portfolios.any? %>
  <% @portfolios.each do |p_item| %>
    <%= render 'portfolio', locals: {portfolio: p_item} %>
  <% end %>
<% end %>

<br/>
<%= link_to 'New Portfolio Item', new_portfolio_path %>
